.container.py-5
  .row
    .col-lg-4
      .card.mb-4
        .card-body.text-center
          =image_tag(@user.avatar.url,class: "rounded-circle img-fluid",style:"width: 150px;") if @user.avatar.present?
          %h5.my-3= @user.full_name
          -# Area of Expertise
          %p.text-muted.mb-1=@user.aoe 
          %p.text-muted.mb-4= @user.country_name
          -# .d-flex.justify-content-center.mb-2
          -#   %button.btn.btn-primary{type: "button"} Follow
          -#   %button.btn.btn-outline-primary.ms-1{type: "button"} Message
      .card.mb-4.mb-lg-0
        .card-body.p-0
          %ul#sidebarTabs.nav.nav-tabs{role: "tablist"}
            %li.nav-item{role: "presentation"}
              %button#socials-tab.nav-link.active{"aria-controls" => "socials", "aria-selected" => "true", "data-bs-target" => "#socials", "data-bs-toggle" => "tab", role: "tab", type: "button"} Socials
            %li.nav-item{role: "presentation"}
              %button#stats-tab.nav-link{"aria-controls" => "stats", "aria-selected" => "false", "data-bs-target" => "#stats", "data-bs-toggle" => "tab", role: "tab", type: "button"} Stats
          #sidebarTabsContent.tab-content
            #socials.tab-pane.fade.show.active{"aria-labelledby" => "socials-tab", role: "tabpanel"}
              -if @user.socials.any?
                %div.justify-content-end
                  -if @user.linkedin.present? || @user.github.present? || @user.website.present? || @user.youtube.present?
                    .row.me-3.ms-3.mt-2
                      .d-flex.justify-content-center.text-center.py-1
                        -if @user.linkedin.present? 
                          %div
                            =link_to "LinkedIn", @user.linkedin, class: "btn btn-sm btn-primary me-1"
                        -if @user.github.present?
                          %div
                            =link_to "GitHub", @user.github, class: "btn btn-sm btn-dark me-1"
                        -if @user.website.present?
                          %div
                            =link_to "Website", @user.website, class: "btn btn-sm btn-info me-1"
                        -if @user.youtube.present?
                          %div
                            =link_to "Youtube", @user.youtube, class: "btn btn-sm btn-danger"
                  -if @user.twitter.present? || @user.instagram.present? || @user.discord.present?
                    .row.me-3.ms-3.mt-2
                      .d-flex.justify-content-center.text-center.py-1
                        -if @user.twitter.present?
                          %div
                            =link_to "X (Twitter)", @user.twitter, class: "btn btn-sm btn-light me-1"
                        -if @user.instagram.present?  
                          %div
                            =link_to "Instagram", @user.instagram, class: "btn btn-sm btn-light me-1"
                        -if @user.discord.present?
                          %div
                            =link_to "Discord", @user.discord, class: "btn btn-sm btn-light"
            #stats.tab-pane.fade{"aria-labelledby" => "stats-tab", role: "tabpanel"}
              %ul.list-group.list-group-flush.rounded-3
                %li.list-group-item.d-flex.justify-content-between.align-items-center.p-3
                  %p.mb-0 Posted #{pluralize(@user.comments.size, "Comment")}
                %li.list-group-item.d-flex.justify-content-between.align-items-center.p-3
                  %p.mb-0 #{pluralize(@user.hits, "Portfolio View")}
                %li.list-group-item.d-flex.justify-content-between.align-items-center.p-3
                  %p.mb-0 #{pluralize(@user.projects.size, "Project")}
                %li.list-group-item.d-flex.justify-content-between.align-items-center.p-3
                  %p.mb-0 #{pluralize(@total_views, "Total Project View")}
    .col-lg-8
      .card.mb-4
        .card-body
          -if @user.about
            .row
              %h5.card-title.text-center About Me
              %div.d-flex.justify-content-center
                .row
                  .card-body
                    %p.card-text= @user.about
            %hr/
          .row
            #projects
              .row.row-cols-1.row-cols-md-2.g-4.m-3
                -@projects.each do |project|
                  .col
                    .card
                      -if project.screenshots.any?
                        =image_tag project.screenshots[0].url
                      -else
                        =image_tag "default.jpg"
                      .card-body
                        .d-flex.justify-content-between.mb-3
                          %h5.card-title
                            = project.title
                            %span.fs-6.lead.text-muted
                              = pluralize(project.hits, "view")
                          =link_to "Show", project, class: "btn btn-sm btn-light"
                        %p.border-top.card-text= project.description.to_plain_text.truncate(150)
                        .btn-toolbar.justify-content-end.border-top{:role=> "toolbar"}
                          .d-flex.mt-3
                            =link_to "GitHub", project, class: "btn btn-sm btn-dark"
                            =link_to "Website", project, class: "btn btn-sm btn-primary ms-2 me-2"
                            =link_to "Youtube", project, class: "btn btn-sm btn-danger"
                        %hr/
                        .d-flex.justify-content-between
                          %small.text-muted #{pluralize(project.comments.size, "Comment")}
                          %small.text-muted #{time_ago_in_words(project.created_at)} ago
              = render partial: 'layouts/pagination', locals: {pagy: @pagy}
              -# =pagy_bootstrap_nav(@pagy).html_safe if @pagy.pages > 1
  %hr/

:css
  img {
    display: inline-block;
    height:  100px;
    object-fit: cover;
  }