.container.card.mt-5.mb-3.border.border-success.border-3{"data-controller" => "home"}
  %h1 Portfoliyours
  %p Welcome!
  %h2 ToDo:
  %ul
    %li VERSION 1
    %li Screenshot gallery for each project. Allow multiple file uploads
    %li add aoe to forms
    %li Style (forms, search page)
    %li Host it
    -# This will be an update. getting list above done first then hosting
    %hr/
    VERSION 2
    %li Add ability to follow user (fans)
    %li Add peronalization per user. They can set what colors they want (eventually they will be able to choose the style too)
    %li fans can opt in/out of email notifications
    %li Late Night Ideas linked to user. Shown only to current user. Be able to text it to database (Twilio just reverse)?
    %li have a "Portfolio of the week" or something
    %li filter projects by new, popular, most comments, etc..
.container.card.mt-2.col-8.mb-3.border.border-success.border-3
  %h2.display-2.ms-3 Projects of the Week
  %hr.m-1/
  .row.row-cols-1.row-cols-md-3.g-4.m-3
    -@trending_projects.each do |project|
      .col
        .card
          -if project.screenshots.attached?
            =image_tag project.screenshots[0]
          -else
            =image_tag "default.jpg"
          .card-body
            .d-flex.justify-content-between
              %h5.card-title= project.title
              %span= pluralize(project.hits, "view")
            %p.card-text= project.description.to_plain_text.truncate(25)
            %p.card-text.d-flex.justify-content-between
              %small.text-muted Posted #{time_ago_in_words(project.created_at)} ago
              =link_to "View", project_path(project), class: "btn btn-sm btn-secondary"
  %div.d-flex.flex-row-reverse
    =link_to "View Trending Projects of the Week",projects_path(:filter => :trending), class: "btn btn-primary m-3"

.container.card.col-8.mt-2.mb-3.border.border-success.border-3
  %h2.display-2.ms-3 Recent Projects
  %hr.m-1/
  .row.row-cols-1.row-cols-md-3.g-4.m-3
    -@recent_projects.each do |project|
      .col
        .card
          -if project.screenshots.attached?
            =image_tag project.screenshots[0]
          -else
            =image_tag "default.jpg"
          .card-body
            .d-flex.justify-content-between
              %h5.card-title= project.title
              %span= pluralize(project.hits, "view")
            %p.card-text= project.description.to_plain_text.truncate(25)
            %p.card-text.d-flex.justify-content-between
              %small.text-muted Posted #{time_ago_in_words(project.created_at)} ago
              =link_to "View", project_path(project), class: "btn btn-sm btn-secondary"
  %div.d-flex.flex-row-reverse
    =link_to "View All Recent Projects",projects_path(:filter => :recent), class: "btn btn-primary m-3"
:css
  .scroll-container {
    background-color: #333;
    overflow: auto;
    white-space: nowrap;
    padding: 10px;
  }
  .card-text {
    word-wrap: break-word;
  }