= form_for @project do |f|
  - if @project.errors.any?
    #error_explanation
      %h2= "#{pluralize(@project.errors.count, "error")} prohibited this project from being saved:"
      %ul
        - @project.errors.full_messages.each do |message|
          %li= message
  .row.mb-3
    .col-12
      = f.label :title, "Title of Project",class: "form-label"
      = f.text_field :title, class: 'form-control', autofocus: true
  .row.mb-3
    .col-12
      = f.label :desscription, "Description of Project",class: "form-label"
      =f.rich_text_area :description,{class: "form-control"}
  .row.mb-3
    .col-12
      = f.label :screenshots, "Screenshots",class: "form-label"
      =f.file_field :screenshots,{class: "form-control",type: "file", multiple: true}
  .row.mb-3
    .col-4
      = f.label :github, "GitHub",class: "form-label"
      = f.text_field :github, class: 'form-control'
    .col-4
      = f.label :website, "Website",class: "form-label"
      = f.text_field :website, class: 'form-control'
    .col-4
      = f.label :youtube, "Youtube",class: "form-label"
      = f.text_field :youtube, class: 'form-control'
  .row
    .btn-toolbar.justify-content-end.border-top.border-bottom{:role=> "toolbar"}
      .d-flex.mt-3.mb-3
        = f.submit 'Post Project', class: "btn btn-sm btn-primary"
